.slide-in-fwd-center {
	-webkit-animation: slide-in-fwd-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-fwd-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.botonItem{
  background-color: #c9ada7;
  color: rgb(20, 20, 20);
  border-color: gray;
  border-radius: 10px;
  font-size: 35px;
  padding: 5px;
}

.botonItem:hover{
  color: white;
  background-color: #917c77;
}

.botonCarrito{
  background-color: #c9ada7;
  color: rgb(20, 20, 20);
  border-color: gray;
  border-radius: 10px;
  padding: 5px;
}

.botonCarrito:hover{
  color: white;
  background-color: #917c77;
}

.textoProd{
  color: #c9ada7;
  -webkit-text-stroke-width: 0.001px;
  -webkit-text-stroke-color: black;
}

 @-webkit-keyframes slide-in-fwd-center {
    0% {
      -webkit-transform: translateZ(-1400px);
              transform: translateZ(-1400px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-fwd-center {
    0% {
      -webkit-transform: translateZ(-1400px);
              transform: translateZ(-1400px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  